@mixin hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}


h2 {
  font-size: calc(10px + 2vmin);
  text-align: center;
}

.btn {  
  border:none;
  border-radius: 10px;
  padding: 1rem;
  cursor:pointer;
  text-transform: uppercase;
  font-size: 18px;
  letter-spacing: 2px;
}

.btn-primary {
  background-color: teal;
  color: #fefefe;
}

.btn-delete {
  background: rgb(167, 63, 63);
  color: #fefefe;
}

.navbar {
  ul {    
    margin: 0;    
    display: flex;
    justify-content: space-around;      
    list-style-type: none;
  }
  a {
    display: block;
    padding: 1rem 0;
    text-decoration: none;
    color: white;
    font-weight: bold;
    &:hover {
      text-decoration: underline;
    }
  }
}

.header {
  text-align: center;
  p {
    font-size: 24px;
    font-weight: 100;
    margin: 0 5px;
  }
}

.plain-list {
  list-style-type: none;  
  padding: 0;
}

.card {  
  display: inline-block;  
  border-radius: 10px;
  padding: 1rem;
  background: rgba(255, 255, 255, 0.35);    
  text-align: center;
  h4 {
    margin: 0;    
  }
  a {    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-decoration: none;
    font-weight: bold;
    letter-spacing: 1.5px;
    height: 100%; 
    width: 100%;
  }
  &:hover {
    @include hover;    
  }
  
}

.card-grid {
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat( auto-fit, minmax(300px, 1fr) );
  gap: 15px;
  grid-auto-rows: minmax(100px, auto);
}

.form {  
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  text-align: center;
  input {    
    width: 90%;
    text-align: center;
    font-size: 18px;
    margin-bottom: 10px;        
  }
}

.form-item {
  border: 0;
  margin-top: 1rem;
  padding: 1rem;
  border-radius: 10px;
}
